.btn-repost {
  display: flex;
}

.btn-repost .btn-repost__wrapper {
  width: 100%;
  padding: 0px;
  display: flex;
  margin-left: -10px;
  justify-content: center;
  align-items: center;
}

.btn-repost .btn-repost__icon {
  z-index: 100;
}

.btn-repost .btn-repost__wrapper .btn-repost__label {
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
