.btn-like {
  display: flex;
}

.btn-like .btn-like__wrapper {
  width: 100%;
  padding: 0px;
  display: flex;
  margin-left: -10px;
  justify-content: center;
  align-items: center;
}
.font_responsive p{
  font-size: clamp(0.1rem, 0.1rem + 2.5vw , 0.9rem);
}
.btn-like .btn-like__wrapper .btn-like__label {
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-like .btn-like__wrapper .btn-like__label p {
  margin-left: 5px;
}

.btn-like .btn-like__icon {
  z-index: 100;
}