:root {
  --primary-color: #7958f5;
}
h1,h2,
h3,h4,
h5,a {
  color: #352A39; 
}
li {
  padding: 0;
}
p{
  color: #352A39;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.network_img {
  background-image: url('./assets//Noresults/ErrorNetworking.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  width: 100%;
}

.ant-cascader-menu {
  height: 100%;
}
.ant-switch.ant-switch-checked {
  background-color: var(--primary-color);
}
@font-face {
  font-family: SF Pro Display;
  src: url('./assets/FontsFree-Net-SFProDisplay-Regular.ttf');
}

body {
  background: #FAFAFA !important;
  font-family: SF Pro Display;

}
#root {
  background: #FAFAFA;
  height: auto;
}
/* LANDING */
.landing-big-button {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #352A39;
}
/* assetes */
.centeringButton {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
}
.centering-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.centeringImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
}

.landingimage {
  background-image: url('./assets/puzzle.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.terms {
  font-weight: bold;
}

/* LOGIN */
.gicon {
  background-image: url('./assets/googleicon.png');
  width: 21px;
  height: 21px;
}
.radius {
  border-radius: 10px;
}

.savee {
  color: black;
}

/* TIMELINE NEARBY */

.leftside{
  margin-top: 25px;
  margin-left: 333px;
}

.near {
  enable-background: accumulate;
}
.gambar {
  background-image: url('./assets/blank.png');
  width: 60px;
  height: 60px;
}
.image{
  background-image: url('./assets/blank.png');
  width: 60px;
  height: 60px;
}

/* Menu List */
.markericon {
  background-image: url('./assets/marker.png');
  background-repeat: no-repeat;
}
.near{
  background-image: url('./assets/locicon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.drop{
  background-image: url('./assets/dropicon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.star{
  background-image: url('./assets/staricon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.subscribe{
  background-image: url('./assets/subsicon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.muted{
  background-image: url('./assets/mutedicon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.mute_noPost {
  background-image: url('./assets/Noresults/No_mutedPosts_sidebar.png');
  background-size: contain;
  object-fit: cover;
  width: 100%;
  max-width: 300px;
  height: 300px;
}
.settings{
  background-image: url('./assets/seticon.png');
  height: 30px;
  background-repeat: no-repeat;
}
.menu {
  font-weight: bold;
  color: darkslategrey;
}

/* LANDING */

.landingimage {
  background-image: url('./assets/WelcomePage-Screen-V1.png');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.curiouslanding {
  background-image: url('./assets/curiouslanding.png');
  background-repeat: no-repeat;
  height: 90px;
  width: 368px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* LOGO */
.curious {
  background-image: url('./assets/logoc1.png');
  background-repeat: no-repeat;
  width: 130px;
  height: 31px;
  margin-top: 31px;
}

.curiouslanding {
  background-image: url('./assets/curiouslanding.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 368px;
  margin-top: -460px;
  margin-left: 240px;
  position: absolute;

}

/* ADD POST */

.ant-upload-list-picture .ant-upload-list-item-error, .ant-upload-list-picture-card .ant-upload-list-item-error {
 border-color: #352A39; 
}

.ant-tooltip-placement-top, .ant-tooltip-placement-topLeft, .ant-tooltip-placement-topRight {
  display: none;
}
.location {
  background-image: url('./assets/pin-svg-25px.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}

.ic-location-small {
  background-image: url('./assets/location.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.addpostRoom {
  padding: 10px;
  border: none;
}

.addpostRoom:hover {
  padding: 10px;
  background-color: #f5f5f5;
}
/* MIDDLE */
.middle{
  margin-top: 25px;
}

.lpbutton {
  text-align: center;
  position: fixed;
  bottom: 93%;
  right: 44%;
}


.float {
  position: relative;
}

.likeButton{
  background-color: #fff;
  border: 1px solid black;
}

.likeButton:hover{
  color: red;
  border: 1px solid black;
}
/* LEGAL */
.legal h1 {
  font-size: 1.1rem;
}
.legal {
  margin: 0 25px;
}

/* SIDE BAR */


.ant-menu-sub.ant-menu-inline {
  background-color:#FAFAFA;
}
.ant-menu-item:hover a {
  color: #7f57ff;
} 


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  background-color:#7f57ff;
  color: white;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu > div > div > svg {
  transform: rotate(0deg);
  transition: transform 600ms;
}
.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open > div > div > svg {
  transform: rotate(-180deg);
}
.ant-menu-item.ant-menu-item-selected svg path,
.ant-menu-item.ant-menu-item-selected svg circle,
.ant-menu-item.ant-menu-item-selected svg ellipse  {
  stroke: white;
}
.ant-menu-item.ant-menu-item-selected >.sidebar-search.ant-menu-item-icon svg path {
  fill: white;
}
.ant-menu-item.ant-menu-item-selected >.sidebar-nearby.ant-menu-item-icon svg path {
  fill: white;
  stroke: white;
}
.ant-menu-item.ant-menu-item-selected >.sidebar-visit.ant-menu-item-icon svg path {
  fill: white;
  stroke: none;
}

.ant-menu-item:hover, .ant-menu-item-active:hover, .ant-menu-submenu-title:hover{
  color: #7f57ff;
}
.ant-menu-item-selected:hover a{
  color: white;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected:hover a{
  color: white;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  border-right: none;
}


.ant-menu-submenu.ant-menu-submenu-vertical >  .ant-menu-submenu-title span {
    color: white; 
  }


.profilefoto{
  height: 60px;
  width: 60px;
  background-size: 60px;
  border-radius: 50%;
  margin-top: 10px;
}
/* CHAT */
.chat_img {
 background-image: url('./assets/Noresults/No_messages.png');
 max-width: 300px;
 width: 100%;
 background-size: contain;
}
/* ERROR */
.locationerror {
  background-image: url("./assets/LocationForWeb.png");
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  position: grid;
  place-items: center;
  object-fit: cover;
  background-size: contain;
}
.locationerror_mobile {
  background-image: url("./assets/LocationIphoneX.png");
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  position: grid;
  place-items: center;
  background-size: contain;
}
/* NAV BAR */
.radio-center {
  margin-top: 6px;
  border-radius: 8px;
}
.toogle-latest {
  width: 72px;
  height: 28px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid var(--primary-color);

  background: white;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

.toogle-popular {
  width: 72px;
  height: 28px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid var(--primary-color);

  background: white;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 14px;
}

.toggle-active__navbar {
  background-color: var(--primary-color);
  color: white;
}


.toolbar {
  width: 100%;
  height: 45px;
}

.toolbar__nav {
  position: fixed;
  width: 600px;
  height: 45px;
  z-index: 105;
  background-color: #FAFAFA;
}
.toolbar__nav2 {
  width: 600px;
  margin-top: 6px;
  border-top: 1px solid #cecece;
  z-index: 106;
}
.toolbar__button {
  position: fixed;
  margin: auto;
  width: 50%;

}
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  height: 24px;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  -ms-transform: translate(-50%, 30%);
  transform: translate(-50%, 30%);
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: black;
}
.sidebarmobilecoy {
  position: fixed;
  top: 0; 
  left: 0;
  height: 100%;
  box-shadow: 1px, 0px, 7px rgba(0,0,0, 5px);
  width: 70%;
  max-width: 200;
  background-color: white;
  z-index: 300;
  border-right: 1px #cccccc solid;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  
}
.sidebarmobilecoy.open {
  transform: translateX(0);
}


.notifmobilecoy {
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 105;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: none;
}

.notifmobilecoy.open {
  transform: translateX(0);
  display: block;
}
@media only screen and (min-width: 667px) {
  .notifmobilecoy.open {
    transform: translateX(0);
    display: none;
  }
}
.centeredButton{
  position: absolute;
  top: auto;
  left: 50%;
  -ms-transform: translate(-50%, 30%);
transform: translate(-50%, 30%);
}
.x_button {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
.media__container {
  width: "100%";
  border-radius: 10;
  object-fit: "cover";
  max-height: 300;
  
}
.hover_media:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
  
  z-index: 200;
  filter: drop-shadow(2px);
}

/* POST CARD */
.ant-list-vertical .ant-list-item-meta-title{
  margin-bottom: 0;
}
.ant-list-vertical .ant-list-item-action > li {
  padding: 0;
}

/* POST CARD IMAGE LAYOUT */


.row-card-2 img.ant-image-img {
 max-height: 200px;
 width: 100%;
}

.photo-grid-3 {
 border-collapse: collapse;
 width: 100%;
 border-spacing: 0;
}

.photo-grid-3 td {
  margin: 0;
  padding: 0;
 }
.ant-image {
  width: 100%;
}
.pict1-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 0;
}
.pict2-3{
  width: 100%;
  height: 150px;
  margin-top: 0;
  object-fit: cover;
}
.pict3-3 {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.text-container {
  position: relative;
  text-align: center;
  color: white;
}
.text-container:hover .text-center {
  display: none;
}
.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}

/* PROFILE */

.profileProfilePicture {
  margin-top:50;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80;
  height: 80;
  object-fit: cover
}

.ant-tabs-tab {
  text-align: center;
}

.btn-curious-colors {
  background-color: var(--primary-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 15px;
  justify-content: center;
}
.gallery__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item_right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item_left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

/* DETAIL POST */
.ant-list-empty-text{
  display: none;
}

.commentContainerReply {
  margin-right: -25px;
  margin-left: -25px;
}


.ant-list-item-action li {
  width: 100%;
}

/* REGISTER */
.ant-input-group-addon {
  width: 60px;
height: 40px;
background: #FAFAFA;
border: 0.5px solid #E6E6E6;
box-sizing: border-box;
border-radius: 10px;
}
.ant-picker {
  background-color: #FAFAFF;
  width: 343px;
  height: 40px;
  border-radius: 10px;
}

@media only screen and (max-width: 990px) {
  .ant-col-md-3 {
    max-width: 11%;
  }
  .landing-big-button > span{
    font-size: 14px;
  }
}


@media only screen and (max-width: 760px) {
  .ui.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .ant-col-md-3 {
    max-width: 11%;
  }
}


@media (min-width: 600px) {
  .toggle-button {
    display: none;
  }
  .toolbar__nav2 {
    margin-top: 45px;
  }
  
  .radio-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
}
}
